@use "../../../styles.scss" as *;

@mixin cardWidthResponsive {
  @media (max-width: $breakpoint-tablet) {
    width: 35%;
  }
  @media (max-width: $breakpoint-mobile) {
    width: 100%;
  }
}
.container {
  @include containerSettings;
  padding: 5rem;
  @media (max-width: $breakpoint-tablet) {
    padding: 0;
  }
  @media (max-width: $breakpoint-mobile) {
    padding: 5rem 0.5rem 2rem 0.5rem;
  }
}

.listContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  list-style: none;
  align-self: center;
  justify-content: center;
  padding-left: 0;
  padding-top: 100px;
  @media (max-width: $breakpoint-tablet) {
    justify-content: center;
  }
}

.cardContainer {
  padding: 1rem;
  cursor: pointer;
  @include box-shadow;
  @include zoom;
  @include borderManager;
  &.cardContainerCompare {
    border: 0.1rem solid $buttonBackgroundColor;
    padding: 0.9rem;
    &:hover:not(.cardContainerSelected) {
      border-width: 0.3rem;
      padding: 0.7rem;
    }
    &.cardContainerSelected {
      border-width: 0.3rem;
      padding: 0.7rem;
      transform: scale(1.05);
    }
  }
}

.twoGrids {
  width: 40%;
  @include cardWidthResponsive();
}

.threeGrids {
  width: 25%;
  @include cardWidthResponsive();
}

.fourGrids {
  width: 15%;
  @include cardWidthResponsive();
}

.cardImage {
  width: 100%;
  min-height: 200px;
  @include backgroundSetting;
}

.pokemonName {
  color: $mainTextColor;
  font-family: $fontFamily;
  font-size: large;
  margin: 0;
  padding-top: 0.8rem;
}

.pokemonNumber {
  color: $secondColor;
  font-family: $fontFamily;
  font-weight: 600;
  font-size: small;
}

.pokemonType {
  display: flex;
  gap: 0.5rem;
  font-family: $fontFamily;
  p {
    font-size: small;
    border-radius: 5px;
    width: 35%;
    text-align: center;
    padding: 2% 0;
  }
}

.buttonContainer {
  width: 100%;
}

.loadPokemonButton {
  padding: 1.5rem;
  display: block;
  margin: 2.5rem auto;
  font-size: medium;
  font-weight: 600;
  color: #fff;
  background-color: gray;
  @include borderManager;
  @media (max-width: $breakpoint-mobile) {
    padding: 1rem;
    font-size: small;
  }
  &.enabled {
    @include zoom;
    background-color: $buttonBackgroundColor;
    cursor: pointer;
  }
}

.listHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: #fff;
  z-index: 2;
  @include box-shadow;
  padding: 2rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

//compare mood

.compareButton {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background-color: $buttonBackgroundColor;
  color: #fff;
  border: 1px solid $buttonBackgroundColor;
  cursor: pointer;
  @include typeToken;
  @include zoom;
}
