<div class="container">
  <app-search-bar #searchBar></app-search-bar>
  <ul class="listContainer">
    <li
      *ngFor="
        let pokemon of pokemonList
          | filterList: searchBar?.searchQuery
          | sortList: 'id'
      "
      [routerLink]="['/card', pokemon.id]"
      class="cardContainer"
    >
      <div
        class="cardImage"
        [ngStyle]="{ 'background-image': 'url(' + pokemon.image + ')' }"
      ></div>
      <hr />
      <span class="pokemonNumber">N° {{ formatNumber(pokemon.id) }}</span>
      <h4 class="pokemonName">{{ pokemon.name | titlecase }}</h4>
      <div class="pokemonType">
        <p *ngFor="let type of pokemon.types" appTypesBackground [type]="type">
          {{ type | titlecase }}
        </p>
      </div>
    </li>
  </ul>
  <div class="buttonContainer">
    <button (click)="onLoadPokemon()" class="loadPokemonButton">
      Load other Pokemons
    </button>
  </div>
</div>
