<ng-template appPlaceholder></ng-template>
<div class="container">
  <div class="listHeader">
    <app-search-bar #searchBar></app-search-bar>
    <div class="selectGrid showSize">
      <label for="grids">Size</label>
      <select name="grids" id="grids" [(ngModel)]="gridLayout">
        <option value="large">Large</option>
        <option value="regular" defaultSelected="regular">Regular</option>
      </select>
    </div>
    <div class="selectGrid">
      <label for="numberToShow">Show</label>
      <select
        name="numberToShow"
        id="numberToShow"
        [(ngModel)]="numberToShow"
        (change)="onNumberChange($event.target.value)"
        [disabled]="searchBar?.searchQuery?.length >= 3"
      >
        <option value="choose" defaultSelected="choose" disabled>choose</option>
        <option value="20">20</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
    </div>
  </div>
  <ul class="listContainer">
    <li
      *ngFor="
        let pokemon of pokemonList
          | filterList: searchBar?.searchQuery
          | sortList: 'id'
          | cutList: numberToShow:applyPipe;
        trackBy: getId
      "
      [routerLink]="compareMode ? null : ['/card', pokemon.id]"
      (click)="compareMode ? onSelectCompare(pokemon?.id) : null"
      class="cardContainer"
      [ngClass]="{
        twoGrids: gridLayout === 'large',
        threeGrids: gridLayout !== 'large',
        cardContainerCompare: compareMode,
        cardContainerSelected: isSelected(pokemon?.id)
      }"
    >
      <div
        class="cardImage"
        [ngStyle]="{ 'background-image': 'url(' + pokemon.image + ')' }"
      ></div>
      <hr />
      <span class="pokemonNumber">N° {{ pokemon.id | formatNumber }}</span>
      <h4 class="pokemonName">{{ pokemon?.name | titlecase }}</h4>
      <div class="pokemonType">
        <p
          *ngFor="let type of pokemon.types; trackBy: getItem"
          appTypesBackground
          [type]="type"
        >
          {{ type | titlecase }}
        </p>
      </div>
    </li>
  </ul>
  <div class="buttonContainer">
    <button
      (click)="onLoadPokemon()"
      class="loadPokemonButton"
      [disabled]="searchBar?.searchQuery?.length >= 3"
      [ngClass]="{ enabled: searchBar?.searchQuery?.length < 3 }"
    >
      Load other Pokemons
    </button>
    <button class="compareButton" (click)="onCompare()">
      {{ compareMode ? "Quit" : "Compare" }}
    </button>
  </div>
</div>
