<ng-template appPlaceholder></ng-template>
<div class="container">
  <div class="listHeader">
    <app-search-bar #searchBar></app-search-bar>
    <app-select-dimension
      (changeDimension)="onChangeDimension($event)"
    ></app-select-dimension>
    <app-select-number
      [disabled]="searchBar?.searchQuery?.length >= 3"
      (changeNumber)="onNumberChange($event)"
    ></app-select-number>
  </div>
  <ul class="listContainer">
    <li
      *ngFor="
        let pokemon of pokemonList
          | filterList: searchBar?.searchQuery
          | sortList: 'id'
          | cutList: numberToShow:applyPipe;
        trackBy: getId
      "
      [routerLink]="compareMode ? null : ['/card', pokemon.id]"
      (click)="compareMode ? onSelectCompare(pokemon?.id) : null"
      class="cardContainer"
      [ngClass]="{
        twoGrids: gridLayout === 'large',
        threeGrids: gridLayout !== 'large',
        cardContainerCompare: compareMode,
        cardContainerSelected: isSelected(pokemon?.id)
      }"
    >
      <div
        class="cardImage"
        [ngStyle]="{ 'background-image': 'url(' + pokemon.image + ')' }"
      ></div>
      <hr />
      <span class="pokemonNumber">N° {{ pokemon.id | formatNumber }}</span>
      <h4 class="pokemonName">{{ pokemon?.name | titlecase }}</h4>
      <div class="pokemonType">
        <p
          *ngFor="let type of pokemon.types; trackBy: getItem"
          appTypesBackground
          [type]="type"
        >
          {{ type | titlecase }}
        </p>
      </div>
    </li>
  </ul>
  <div class="buttonContainer">
    <button
      (click)="onLoadPokemon()"
      class="loadPokemonButton"
      [disabled]="searchBar?.searchQuery?.length >= 3"
      [ngClass]="{ enabled: searchBar?.searchQuery?.length < 3 }"
    >
      Load other Pokemons
    </button>
    <button class="compareButton" (click)="onCompare()">
      {{ compareMode ? "Quit" : "Compare" }}
    </button>
  </div>
</div>
