@use "../../styles.scss" as *;

.container {
  @include containerSettings;
}

.listContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  list-style: none;
  align-self: center;
  padding-left: 0;
}

.cardContainer {
  width: 25%;
  padding: 1rem;
  cursor: pointer;
  @include box-shadow;
  @include zoom;
  @include borderManager;
}

.cardImage {
  width: 100%;
  min-height: 200px;
  @include backgroundSetting;
}

.pokemonName {
  color: $mainTextColor;
  font-family: $fontFamily;
  font-size: large;
  margin: 0;
  padding-top: 0.8rem;
}

.pokemonNumber {
  color: $secondColor;
  font-family: $fontFamily;
  font-weight: 600;
  font-size: small;
}

.pokemonType {
  display: flex;
  gap: 0.5rem;
  font-family: $fontFamily;
  p {
    font-size: small;
    border-radius: 5px;
    width: 35%;
    text-align: center;
    padding: 2% 0;
  }
}

.buttonContainer {
  width: 100%;
}

.loadPokemonButton {
  padding: 1.5rem;
  cursor: pointer;
  display: block;
  margin: 2.5rem auto;
  font-size: medium;
  font-weight: 600;
  background-color: $buttonBackgroundColor;
  color: #fff;
  @include zoom;
  @include borderManager;
}
