<div class="container">
  <div class="logoContainer">
    <img
      [routerLink]="['/']"
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/1200px-International_Pok%C3%A9mon_logo.svg.png"
      alt="pokemon logo"
      class="logo"
    />
  </div>
  <app-card-navigation></app-card-navigation>
  <div class="titleContainer">
    <h1>{{ pokemonCard?.name + " " | titlecase }}</h1>
    <h1>N°{{ formatNumber(pokemonCard?.id) }}</h1>
  </div>
  <div class="gridContainer">
    <div
      class="cardImage"
      [ngStyle]="{
        'background-image': pokemonCard?.sprites?.front_default
          ? 'url(' + pokemonCard?.sprites?.front_default + ')'
          : null
      }"
    ></div>
    <div class="cardStats">
      <ul class="cardContainer">
        <li>
          <div class="statName">Weight</div>
          <div>{{ pokemonCard?.weight }} cg</div>
        </li>
        <li>
          <div class="statName">Height</div>
          <div>{{ pokemonCard?.height }} dm</div>
        </li>
        <app-pokemon-stats-list-item
          [list]="pokemonCard?.abilities"
          key="ability"
        ></app-pokemon-stats-list-item>
        <app-pokemon-stats-list-item
          [list]="pokemonCard?.moves"
          key="move"
        ></app-pokemon-stats-list-item>
        <app-pokemon-stats-list-item
          [list]="pokemonCard?.types"
          key="type"
        ></app-pokemon-stats-list-item>
        <li>
          <p class="statName">Weaknesses</p>
          <div class="flex-item">
            <ng-container *ngFor="let element of pokemonCard?.types">
              <p *ngFor="let weakness of element.weaknesses | cutList">
                {{ weakness | titlecase }}
              </p>
            </ng-container>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
