@use "../../../styles.scss" as *;

.searchForm {
  display: inline-block;
  input,
  button {
    padding: 0.5rem;
    border-radius: 5px;
    @include zoom;
  }

  input {
    @media (max-width: $breakpoint-mobile) {
      display: block;
      margin: 1rem auto;
    }
  }

  .buttons {
    display: inline;
    @media (max-width: $breakpoint-mobile) {
      display: block;
      text-align: center;
    }
  }

  button {
    margin-left: 1rem;
    background-color: transparent;
    cursor: pointer;
    @media (max-width: $breakpoint-mobile) {
      margin-left: 0;
    }
  }
}
