@use "../../../styles.scss" as *;

.searchForm {
  margin-bottom: 3rem;
  input,
  button {
    padding: 0.5rem;
    border-radius: 5px;
    @include zoom;
  }
  button {
    margin-left: 1rem;
    background-color: transparent;
    cursor: pointer;
    &.valid:hover {
      background-color: #242424;
      color: white;
    }
  }
}
