@use "../../../styles.scss" as *;

.selectGrid {
  display: inline-block;

  label {
    font-family: $fontFamily;
    margin-right: 0.5rem;
    font-style: italic;
    @include forMobile {
      display: block;
      text-align: center;
      padding-bottom: 0.5rem;
    }
  }

  select {
    padding: 0.5rem;
    @include borderManager;
  }

  &.showSize {
    @include forTablet {
      display: none;
    }
  }
}
