@use "../../../styles.scss" as *;

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  z-index: 50;
}

.modal-box {
  position: fixed;
  top: 2vw;
  left: 2vw;
  right: 2vw;
  padding: 16px;
  z-index: 100;
  background: white;
  box-shadow: 0 2px 8px rbga(0, 0, 0, 0.26);
  border-radius: 10px;
}

.compareContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  .pokemonCard {
    text-align: center;
    font-family: $fontFamily;

    .cardImage {
      min-height: 15rem;
      @include backgroundSetting;
    }
    &:first-child {
      .cardImage {
        border-right: 0.05rem solid $secondColor;
      }
    }
    .baseExperience {
      width: 50px;
      height: 50px;
      margin: 0 auto;
      border: 1px solid blue;
      font-weight: 600;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .abilities {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;
      gap: 1rem;
    }
  }
}
