<div class="backdrop" (click)="onClose()"></div>
<div class="modal-box">
  <div>
    <div class="compareContainer">
      <div class="pokemonCard" *ngFor="let pokemonCard of comparePokemons">
        <div
          class="cardImage"
          [ngStyle]="{
            'background-image': pokemonCard?.sprites?.front_default
              ? 'url(' + pokemonCard?.sprites?.front_default + ')'
              : null
          }"
        ></div>
        <h3 class="pokemonName">
          {{ pokemonCard?.name | titlecase }}
        </h3>
      </div>
    </div>
    <div class="chartContainer">
      <chart
        *ngIf="showChart"
        type="bar"
        [data]="getDataFromChartConfig('data')"
        [options]="getDataFromChartConfig('options')"
      ></chart>
    </div>
  </div>
  <div class="closeButton">
    <button (click)="onClose()">Close</button>
  </div>
</div>
