@use "../../../styles.scss" as *;

.flex-item {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  p {
    margin: 0;
  }
}

.statName {
  color: #fff;
  font-weight: 600;
  padding: 1rem 0;
  font-family: $fontFamily;
  font-size: large;
  margin: 0;
  @include forMobile {
    font-size: small;
  }
}

.typeToken {
  @include typeToken;
}
