/* You can add global styles to this file, and also import other style files */
$mainTextColor: #313131;
$borderColor: #bdb9b8;
$secondColor: #919191;
$buttonBackgroundColor: #30a7d7;
$containerBackgroundColor: rgba(253, 255, 236, 0.493);

$breakpoint-mobile: 480px;
$breakpoint-tablet: 785px;

$fontFamily: "Flexo-Bold", "arial", "sans-serif";

@mixin backgroundSetting {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@mixin box-shadow {
  -webkit-box-shadow: 5px 5px 20px 0px #000000;
  -moz-box-shadow: 5px 5px 20px 0px #000000;
  -o-box-shadow: 5px 5px 20px 0px #000000;
  box-shadow: 5px 5px 20px 0px #000000;
}

@mixin zoom {
  transition: transform 0.2s;
  &:hover {
    transform: scale(1.05);
  }
}

@mixin borderManager($radius: 10px, $color: $borderColor) {
  border: 0.5px solid $borderColor;
  border-radius: 10px;
}

@mixin containerSettings {
  background-color: $containerBackgroundColor;
}

@mixin arrow($side) {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  @if $side == "right" {
    transform: rotate(-45deg);
  } @else if $side== "left" {
    transform: rotate(135deg);
  } @else {
    @error "Unkown side";
  }
}

@mixin typeToken {
  border-radius: 10px;
  padding: 0.5rem;
}

canvas {
  width: 80% !important;
  margin: 0 auto;
  max-height: 220px !important;
  @media (max-width: $breakpoint-mobile) {
    width: 90% !important;
    min-height: 250px;
  }
}
