/* You can add global styles to this file, and also import other style files */
$mainTextColor: #313131;
$borderColor: #bdb9b8;
$secondColor: #919191;

$fontFamily: "Flexo-Bold", "arial", "sans-serif";

@mixin backgroundSetting {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
